.productcard {
  border: 2px solid #ae275f;
}

.productcard:hover {
  border: 2px solid #ae275f;
  transform: scale(1.05);
}

.myButton {
  border: 0;
  background-color: #ae275f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
  width: 100%;
}

/* .form-field {
    display: flex;
  } */

.form-field input {
  flex-grow: 1;
  margin: 0 1rem 1rem 0;
}

.form-field img {
  height: 45px;
}

form {
  font-family: Arial;
  width: 500px;
  /* height: 500px; */
  margin: 0% 35%;
  background-color: #ecebeb;
  padding: 2rem;
  box-shadow: 0px 2px 5px 0px #ae275f;
  border-top: 2px solid #ae275f;
  border-bottom: 2px solid #ae275f;
  border-left: 2px solid #ae275f;
  border-right: 2px solid #ae275f;
}

label {
  display: block;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #ae275f;
}

input [type="text"] {
  background-color: #f6f3f3;
  border: 0;
  padding: 1rem;
  width: 100%;
}

/* .card-img-top {
    
    height: 18vw;
    object-fit: cover;
  } */
